.DS_Store

Workspace.xcworkspace
.package.resolved

Projects/Common/Common.xcodeproj
Projects/Common/Derived
Projects/Common/build

Projects/Utilities/Utilities.xcodeproj
Projects/Utilities/Derived
Projects/Utilities/build

Projects/DataSources/DataSources.xcodeproj
Projects/DataSources/Derived
Projects/DataSources/build

Projects/App/App.xcodeproj
Projects/App/Derived
Projects/App/build

Projects/CoreEntities/CoreEntities.xcodeproj
Projects/CoreEntities/Derived
Projects/CoreEntities/build

Projects/DI/DI.xcodeproj
Projects/DI/Derived
Projects/DI/build

Projects/DesignSystem/DesignSystem.xcodeproj
Projects/DesignSystem/Derived
Projects/DesignSystem/build

Projects/AuthFeature/AuthFeature.xcodeproj
Projects/AuthFeature/Derived
Projects/AuthFeature/build

Projects/AdsFeature/AdsFeature.xcodeproj
Projects/AdsFeature/Derived
Projects/AdsFeature/build

Projects/ChatFeature/ChatFeature.xcodeproj
Projects/ChatFeature/Derived
Projects/ChatFeature/build

Projects/Analytics/Analytics.xcodeproj
Projects/Analytics/Derived
Projects/Analytics/build

Projects/Analytics/Analytics.xcodeproj
Projects/Analytics/Derived
Projects/Analytics/build

Projects/ProfileFeature/ProfileFeature.xcodeproj
Projects/ProfileFeature/Derived
Projects/ProfileFeature/build

Projects/Logger/Logger.xcodeproj
Projects/Logger/Derived
Projects/Logger/build

Projects/Navigation/Navigation.xcodeproj
Projects/Navigation/Derived
Projects/Navigation/build

Projects/Networking/Networking.xcodeproj
Projects/Networking/Derived
Projects/Packages/Networking/build

Projects/Persistance/Persistance.xcodeproj
Projects/Persistance/Derived
Projects/Persistance/build